.status-container {
  border-top: 8px solid #03dbcb;

  .icon {
    margin: 0 auto 10px;
    border-radius: 100%;
    overflow: hidden;
    background-color: #ff7200;
    color: #fff;
    font-weight: 700;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
  }

  .icon-active {
    background-color: #a2d40a;
  }

  .icon-qualified {
    background-color: #f00;
  }
}
