<mat-card class="status-container dashboard-card">
  <mat-card-content>
    <h2 translate>STATUS</h2>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="22">
          <h4 translate>Kit Pre Registration</h4>
        </div>
        <div fxFlex="22">
          <h4 translate>Monthly Asset</h4>
        </div>
        <div fxFlex="22">
          <h4 translate>Qualified Binary</h4>
        </div>
        <div fxFlex="22">
          <h4 translate>Percentage Binary</h4>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center" class="full-width">
        <div fxFlex="22" class="full-width">
          <div class="icon">
            23%
          </div>
        </div>
        <div fxFlex="22">
          <div class="icon icon-active">
            23%
          </div>
        </div>
        <div fxFlex="22">
          <div class="icon icon-qualified">
            23%
          </div>
        </div>
        <div fxFlex="22">
          <div class="icon">
            23%
          </div>
        </div>
      </div>
    </div>
    <div class="p20ud">
      <button mat-raised-button color="accent">{{ 'Indication Link' | translate }}</button>
    </div>
  </mat-card-content>
</mat-card>
