.earnings-container {
  border-top: 8px solid #cf0bb6;
  padding-left: 0;
  padding-right: 0;

  .earnings {
    color: #fff;
    text-align: left;

    .earning-today {
      padding: 20px 15px;
      background-color: rgba(0, 153, 169, 0.7);
    }

    .earning-month {
      padding: 20px 15px;
      background-color: rgba(162, 212, 10, 0.7);
    }

    h3 {
      font-weight: bold;
      margin: 10px 0;
    }

    mat-icon {
      font-size: 50px;
      width: 50px;
      height: 50px;
    }

    div {
      width: 100%;
    }
  }
}
