<mat-toolbar class="mat-elevation-z8">
  <mat-toolbar-row>
    <h1>
      <mat-icon>help</mat-icon>
      Perguntas Frequentes
    </h1>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-accordion multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              1) Primeira Pergunta
            </mat-panel-title>
          </mat-expansion-panel-header>
          Resposta da Primeira Pergunta
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              2) Segunda Pergunta
            </mat-panel-title>
          </mat-expansion-panel-header>
          Resposta da Segunda Pergunta
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              3) Terceira Pergunta
            </mat-panel-title>
          </mat-expansion-panel-header>
          Resposta da Terceira Pergunta
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
