@import "src/theme/theme-variables";

:host {
  display: flex;
  flex: 1;
  background-image: url("assets/img/dark-material-bg.jpg");
}

.inline-loader {
  display: inline-block;
}

.version {
  margin: 0;
}

.login-container,
.mat-form-field {
  width: 100%;
}

.login-error {
  color: mat-color($app-warn);
}
