<div class="container">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutAlign="start center" class="center profile-container" fxFlex="50">
        <div fxFlex="100" class="p20ud">
          <div class="image-upload">
            <img src="assets/img/user_icon.png" fxFlex="100">
          </div>
          <div fxLayoutAlign="start center" class="p20ud">
              <button mat-raised-button color="primary">Atualizar Imagem</button>
          </div>
        </div>
        <div fxFlex="60">
          <mat-form-field appearance="outline">
            <mat-label>
              Nome Completo
            </mat-label>
            <input matInput disabled [value]="'Marcos Augusto Vieira Martins'">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxLayoutAlign="space-between center">
          <mat-form-field appearance="outline" fxFlex="40">
            <mat-label>
              Data de Nascimento
            </mat-label>
            <input matInput disabled [value]="'17/04/1999'">
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="55">
            <mat-label>
              CPF
            </mat-label>
            <input matInput disabled [value]="'071.941.313-31'">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxLayoutAlign="space-between center">
          <mat-form-field appearance="outline" fxFlex="40">
            <mat-label>
              Telefone
            </mat-label>
            <input matInput disabled [value]="'(85) 9999-9999'">
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="40">
            <mat-label>
              Celular
            </mat-label>
            <input matInput disabled [value]="'(85) 99999-9999'">
          </mat-form-field>
        </div>
        <div fxFlex="60">
          <mat-form-field appearance="outline">
            <mat-label>
              E-mail
            </mat-label>
            <input matInput disabled [value]="'gutierrez107@gmail.com'">
          </mat-form-field>
        </div>
        <div fxFlex="60">
          <mat-form-field appearance="outline">
            <mat-label>
              Endereço
            </mat-label>
            <input matInput disabled [value]="'Avenida Sargento Hermínio'">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxLayoutAlign="space-between center">
          <mat-form-field appearance="outline" fxFlex="30">
            <mat-label>
              Número
            </mat-label>
            <input matInput disabled [value]="'263'">
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="30">
            <mat-label>
              Complemento
            </mat-label>
            <input matInput disabled [value]="''">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxLayoutAlign="space-between center">
          <mat-form-field appearance="outline" fxFlex="40">
            <mat-label>
              Bairro
            </mat-label>
            <input matInput disabled [value]="'Centro'">
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="30">
            <mat-label>
              CEP
            </mat-label>
            <input matInput disabled [value]="'68888-888'">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxLayoutAlign="space-between center">
          <mat-form-field appearance="outline" fxFlex="40">
            <mat-label>
              Cidade
            </mat-label>
            <input matInput disabled [value]="'Fortaleza'">
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="30">
            <mat-label>
              Estado
            </mat-label>
            <input matInput disabled [value]="'CE'">
          </mat-form-field>
        </div>
        <div fxFlex="50">
          <mat-form-field appearance="outline">
            <mat-label>
              Usuário
            </mat-label>
            <input matInput disabled [value]="'gutierrez100'">
          </mat-form-field>
        </div>
        <div fxFlex="100">
          <p>Para alterar sua senha, preencha os campos abaixo</p>
        </div>
        <div fxFlex="100" fxLayoutAlign="start center">
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>
              Senha Atual
            </mat-label>
            <input matInput type="password">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxLayoutAlign="start center">
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>
              Nova Senha
            </mat-label>
            <input matInput type="password">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxLayoutAlign="start center">
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>
              Confirmação da Nova Senha
            </mat-label>
            <input matInput type="password">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxLayoutAlign="start center">
          <button mat-raised-button color="primary">Atualizar senha</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
