<mat-toolbar class="mat-elevation-z8">
  <mat-toolbar-row>
    <h1>
      <mat-icon>home</mat-icon>
      Meus termos e contratos
    </h1>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              TERMO DE ADESÃO
            </mat-panel-title>
            <mat-panel-description>
              Data de Início: 01/08/2017 às 11:04:50 Data de vigência: 31/07/2019
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>O termo será inserido aqui</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              CÓDIGO DE ÉTICA
            </mat-panel-title>
            <mat-panel-description>
              Data de Início: 01/08/2017 às 11:04:50 Data de vigência: 31/07/2019
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>O código de ética será inserido aqui</p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
