<div class="product-item-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Nome do produto à venda
      </mat-card-title>
    </mat-card-header>
    <img src="assets/img/blank_product_img.png">
    <mat-card-content>
      <h2>R$: 00.00</h2>
      <p>Informações básicas sobre o produto</p>
    </mat-card-content>
    <mat-card-actions>
      <div fxLayoutAlign="end center">
        <button mat-raised-button color="primary">ADICIONAR AO CARRINHO</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
