<mat-card class="dashboard-card">
  <mat-card-content>
    <h2 translate>QUALIFICATION</h2>
    <img src="assets/img/icons/icone-default-big.png" style="width: 200px;">
    <h2>GUTIERREZ ALVES</h2>
  </mat-card-content>
</mat-card>
