:host {
  display: flex;
  flex: 1;
}

.mat-sidenav {
  min-width: 270px;
  max-width: 28%;
}

.has-border {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-list {
  padding-top: 0;
}

.mat-list-item {
  text-decoration: none;

  &:hover {
    color: #fff;
    background: #2196f3;
  }
}

.menu-button {
  margin-right: 1rem;
}

.active {
  background-color: #2196f3;
  color: #fff;
}

.mat-icon {
  margin-right: 1rem;
}
