.news-container {
  border-top: 8px solid #439aa2;

  .items {
    a {
      overflow: hidden;
      height: 50px;
      font-size: 20px;
      text-transform: uppercase;
      line-height: 110%;
      text-align: center;
      margin-top: 10px;
    }
  }
}
