<div class="container">
  <mat-card>
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row wrap" fxLayoutAlign="space-around center" class="full-width" fxLayoutGap="25px grid">
          <app-quallification fxFlex="30%"></app-quallification>
          <app-status fxFlex="30%"></app-status>
          <app-earnings fxFlex="30%"></app-earnings>
          <app-news fxFlex="30%"></app-news>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
