<h1>Documentos</h1>

<div class="mat-table">
  <div class="mat-header-row">
    <div class="mat-header-cell">#</div>
    <div class="mat-header-cell">Título</div>
    <div class="mat-header-cell">Descrição</div>
    <div class="mat-header-cell">Download</div>
  </div>
  <div class="mat-row">
    <div class="mat-cell">1</div>
    <div class="mat-cell">Título do documento</div>
    <div class="mat-cell">Descrição do documento</div>
    <div class="mat-cell">
      <a href="#" mat-raised-button color="primary">Download</a>
    </div>
  </div>
</div>
